**/node_modules
**/vendor
**/.env
**/.env.*
**/.phpunit.result.cache
**/storage/*.key
**/storage/pail
**/public/build
**/public/hot
**/public/storage
**/Homestead.*
**/npm-debug.log
**/yarn-error.log
**/.idea
**/.vscode
**/.github
**/.fleet
**/.nova
**/.zed
**/.phpactor.json
**/auth.json

# Optional Laravel specific stuff
**/phpunit.cache
**/.phpunit.result.cache
**/CHANGELOG.md
**/.styleci.yml
                
                